<ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="presentAlert()">Mostrar alert</ion-button>
  <ion-button expand="full" (click)="presentAlertCheckbox()">Mostrar checkbox</ion-button>
  <ion-button expand="full" (click)="presentAlertConfirm()">Mostrar confirm</ion-button>
  <ion-button expand="full" (click)="presentAlertMultipleButtons()">Mostrar multiple</ion-button>
  <ion-button expand="full" (click)="presentAlertPrompt()">Mostrar prompt</ion-button>
  <ion-button expand="full" (click)="presentAlertRadio">Mostrar radio</ion-button>

</ion-content>
