<ion-header>
  <ion-toolbar>
    <ion-title>
      Oscar Bosigas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button routerLink="/sheet">Sheet</ion-button>
  <ion-button routerLink="/alert">Alertas</ion-button>
  <ion-button routerLink="/avatar">Avatar</ion-button>  
  <ion-button routerLink="/card">Card</ion-button>
  <ion-button routerLink="/checkbox">Checkbox</ion-button>
  <ion-button routerLink="/modal">Modal</ion-button>
  <ion-button routerLink="/input">Input</ion-button>
  

</ion-content>
